*{margin:0;padding:0;box-sizing:border-box}
body{background-color:#000;color:#fff}
:root{--width:300px}
h2,h3{color:#000}
.main{height:100vh;width:0}
.sideMenu{position:relative;color:#fff}
.main .icon{background-color:#fff;height:100vh;color:#000;font-size:20px;cursor:pointer;padding-block:15px;transition:all 1s}
.main .sidemenulogo{width:50px;height:60px}
.main .menu{background-color:#000;height:100vh;width:var(--width);transition:all 1s}
.links ul{list-style-type:none}
.links ul li{display:block;color:#fff;padding-bottom:10px;cursor:pointer;font-size:17px}
.links a{color:#fff;text-decoration:none}
.links{margin-top:30px;font-size:20px}
.mainFooter{position:absolute;bottom:0;padding:30px;font-size:15px;text-align:center}
.masterSideMenu{position:fixed;z-index:1}
.master{position:relative;height:100vh}
.pageContent{position:absolute}
.pageContent{width:100vw;height:100vh}
.searchBody h4{color:#0ff!important}
.mealcard{position:relative;overflow:hidden}
.mealcard img{width:100%;background-color:#000;padding:5px;border-radius:20px;cursor:pointer;position:relative}
.mealcard .mealName{position:absolute;background-color:#f9f6f6ca;z-index:1;height:100%;width:100%;top:100%;transition:all .5s;border-radius:20px}
.mealcard:hover .mealName{top:0;left:0}
.cards{background-color:#000}
.container.cards{margin-top:20px;display:flex;flex-wrap:wrap;gap:20px}
.col-md-3{flex:0 0 calc(25% - 20px)}
.mealcard i{font-size:60px;cursor:pointer ; color: #fff; text-decoration: none;}
.mealcard .strArea{font-size:30px}